<div class="w-full sticky top-0 z-0 " id="parentDropdownProfile">
    <div class="absolute right-10 bottom-0 top-15 w-50 h-30 bg-white border border-gray-50 shadow shadow-gray-600 p-2 rounded translate-y-20 opacity-0 hidden" id="dropdownProfile">
    <ul class="max-w-[1440px] mx-auto text-black/70">
            <li class="cursor-pointer mb-2 hover:bg-amber-100 hover:text-black px-2 py-2 rounded">
            <a href="index.html" class="w-full flex">
                <svg
                    class="h-6 w-6 mr-2"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                </svg>
                John Doe
            </a>
            </li>
            <li class="cursor-pointer mb-2 hover:bg-amber-100 hover:text-black px-2 py-2 rounded">
            <a href="index.html#contact-us" class="w-full flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="mr-2 rotate-180"><path fill="currentColor" d="M12 21v-2h7V5h-7V3h7q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm-2-4l-1.375-1.45l2.55-2.55H3v-2h8.175l-2.55-2.55L10 7l5 5z" /></svg>
                Log out
            </a>
            </li>
        </ul>
    </div>
</div>