<div class="w-full pt-0 md:px-9 pb-5  h-auto bg-linear-to-r from-orange-500 to-rose-600 shadow-xl translate-y-[-300px] opacity-0 md:opacity-0 z-0 sticky top-0" id="dropdownNavbar">
    <ul class="max-w-[1440px] mx-auto px-8 py-4 text-white">
      <li class="cursor-pointer mb-2 hover:bg-amber-50 hover:text-black px-2 py-2 rounded">
        <a href="index.html" class="w-full block">Dashboard</a>
      </li>
      <li class="cursor-pointer mb-2 hover:bg-amber-50 hover:text-black px-2 py-2 rounded">
        <a href="index.html#contact-us" class="w-full block">Contact Us</a>
      </li>
      <li>
        <div class="relative w-full group flex">
            <form action="" class="flex w-full">
              <i class="fa-solid fa-magnifying-glass absolute left-4 top-1/2 -translate-y-1/2 text-white/70 group-hover:text-white transition-colors"></i>
              <input type="text" placeholder="Cari makanan favoritmu..." class="w-full py-3 pl-6 pr-6 rounded-2xl border border-white/30 bg-white/20 backdrop-blur-md text-white placeholder-white/70 focus:bg-white/30 focus:ring-2 focus:ring-white/50 outline-none transition-all shadow-inner">
              <button class="bg-orange-500 ml-3 w-20 h-auto text-white rounded-2xl border border-gray-100 cursor-pointer">
                Cari
              </button>
            </form>
          </div>
      </li>
    </ul>
  </div>