@keyframes slidedown {
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }
    100%{
        transform: translateY(-10px);
        opacity: 100;
    }
}

@keyframes slideup{
    0%{
        transform: translateY(-10px);
        opacity: 100;
    }
    100%{
        transform: translateY(-200px);
        opacity: 0;
    }
}


@keyframes slideup-profile{
    0%{
        transform: translateY(5rem);
        opacity: 0;
    } 100%{
        transform: translateY(0);
        opacity: 100;
    }
}

@keyframes slidedown-profile{
    0%{
        transform: translateY(0);
        opacity: 100;
    }100%{
        transform: translateY(5rem);
        opacity: 0;
    }
}